<div class="container text-center">
<h1>About Page</h1>
</br>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad delectus cum quae harum, eos ex blanditiis deserunt minima doloremque! Blanditiis cupiditate nobis, rem praesentium distinctio vitae dicta commodi aut temporibus..</p>
</div>