@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";

// Typography Styles
h2, h3, h4 {
    font-family: "Open Sans", sans-serif;
    color: black;
}

h4 {
    margin-top: 0px;
}

.header {
    font-size: 90px;
    margin-bottom: 0px;
    font-family: "Agency FB", Open Sans;
    text-shadow: 1px 1px black;
}

//Users profile styles
.lego-man {
  width: 128px;
  height: 128px;
}

.well.profile-block {
    color: #fff;
    h3 {
        margin-top: 0;
    }
}

.well.profile-description {
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.well.profile-contact-info {
    background-color: #5bc0de;
    border-color: #46b8da;
}

// Background Gradient
.home-callout {
    padding-bottom: 80px;
    padding-top: 40px;
    padding-left: 30px;
    margin-top: -20px;
    color: rgb(177, 205, 205);
}

// Navbar Style 
.navbar, .home-callout {
    border: none;
    background-color: #e3f2fd;
}

.navbar-brand {
    font-family: 'Opens Sans', sans-serif;
    font-weight: 800;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a  {
    color: black;
    &:hover {
        opacity: 0.75;
    }
}

// Burger Button Style
.navbar-default .navbar-toggle {
    border: hidden;
    background-color: #e3f2fd;
    &:hover {
        background-color: #c6edf7;
    }
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
}

// Homeb page Styles
.home-signup-links {
  margin-top: 30px;
}

.alert-notice, .alert-alert {
    position: absolute;
    background: #cee7f9;
    text-align: center;
    width: 100%;
    border-color: black;
    margin-top: -14px;
    left: 0px;
}

// Bottom navbar Styles
.defiance {
  font-weight: bold;
}

//Homepage Sign up link styles
.home-signup-links .well {
  margin-top: 100px;
  margin-bottom: 100px;
}

// Premium Sign up page styles
.sign-up-page {
  margin-top: 25px;
}