
 
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";

/* Typography Styles*/
h1, h2, h3 {
    font-family: "Open Sans", sans-serif;
}

/* Background Gradient*/
.home-callout {
    //Gradient by @_ighosh at uigradients.com
    background: #aa4b6b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-bottom: 20px;
    padding-top: 10px;
    margin-top: -20px;
    color: rgb(177, 205, 205);
    text-shadow: 1px 1px black;
}

/* Navbar Style */
.navbar {
    border: none;
    background-color: #e3f2fd;
}

.navbar-brand {
    font-family: 'Opens Sans', sans-serif;
    font-weight: 800;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a  {
    color: black;
    &:hover {
        opacity: 0.75;
    }
}

/* Burger Button Style */
.navbar-default .navbar-toggle {
    border: hidden;
    background-color: #e3f2fd;
    &:hover, &:focus {
        background-color: #c6edf7
    }
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

