/*
Error: Invalid CSS after "...col-md-offset-4": expected "{", was ""
        on line 86 of /home/ubuntu/workspace/saasapp/app/assets/stylesheets/application.css.scss

81:   margin-top: 100px;
82:   margin-bottom: 100px;
83: }
84: 
85: // Sign up page styles
86: .col-md-4 col-md-offset-4

Backtrace:
/home/ubuntu/workspace/saasapp/app/assets/stylesheets/application.css.scss:86
/usr/local/rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.3/lib/sass/scss/parser.rb:1308:in `expected'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.3/lib/sass/scss/parser.rb:1238:in `expected'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.3/lib/sass/scss/parser.rb:1233:in `tok!'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.3/lib/sass/scss/parser.rb:688:in `block'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.3/lib/sass/scss/parser.rb:681:in `ruleset'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.3/lib/sass/scss/parser.rb:707:in `block_child'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.3/lib/sass/scss/parser.rb:700:in `block_contents'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.3/lib/sass/scss/parser.rb:137:in `stylesheet'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.3/lib/sass/scss/parser.rb:41:in `parse'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.3/lib/sass/engine.rb:414:in `_to_tree'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.3/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.3/lib/sass/engine.rb:307:in `render_with_sourcemap'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.3/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.3/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.3/lib/sass/plugin/compiler.rb:209:in `each'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.3/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.3/lib/sass/plugin.rb:82:in `update_stylesheets'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.3/lib/sass/exec/sass_scss.rb:338:in `watch_or_update'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.3/lib/sass/exec/sass_scss.rb:51:in `process_result'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.3/lib/sass/exec/base.rb:50:in `parse'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.3/lib/sass/exec/base.rb:18:in `parse!'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/gems/sass-3.7.3/bin/scss:13:in `<top (required)>'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/bin/scss:23:in `load'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/bin/scss:23:in `<main>'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/bin/ruby_executable_hooks:24:in `eval'
/usr/local/rvm/gems/ruby-2.3.0@saasapp/bin/ruby_executable_hooks:24:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...col-md-offset-4\": expected \"{\", was \"\"\A         on line 86 of /home/ubuntu/workspace/saasapp/app/assets/stylesheets/application.css.scss\A \A 81:   margin-top: 100px;\A 82:   margin-bottom: 100px;\A 83: }\A 84: \A 85: // Sign up page styles\A 86: .col-md-4 col-md-offset-4"; }
